.tree-lottie {
    transform: scale(1); /* Shrink it down to start (e.g., 200px) */
}

.tree-zoom {
    transform: scale(1);
    transition: transform 1s ease-in-out ;
}

.tree-move{
    transform: translateY(00px);
    transition: transform 1s ease-in-out ;
}