:root {
    --mainColor: #318f46;
    --accentColor: rgb(7, 77, 19);
    --boldColor: rgb(160, 42, 42);
    --boldAccentColor: rgb(117, 54, 54);
    --bgColor: rgba(255, 255, 255, 0.87);
    --transparentColor: rgba(255, 255, 255, 0.562);
    --textColor: rgb(20, 20, 20);
    background-image: url(images/note3.jpg);
    background-size: 70%;
    background-repeat: repeat;
    --sectionWidth: 85%;
    --subsectionWidth: 70%;
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--sectionWidth);
    padding: 5% 5%;
    border-radius: 10%;
    background-color: var(--transparentColor);
}

.topSection-text {
    max-width: 40%;
}

.topSection-text h1 {
    font-size: 4rem;
    color: var(--accentColor);
    margin-bottom: 20px;
}

.topSection-text h2 {
    font-size: 1.25rem;
    color: var(--mainColor);
    margin-bottom: 20px;
}

.sub-section {
    padding: 2% 10%;
    max-width: var(--subsectionWidth);
    background-color: var(--transparentColor);
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sub-section-title {
    font-size: 2.5rem;
    color: var(--boldColor);
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.sub-section-text {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--accentColor);
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,2fr); 
    gap: 2%
}

.grid-card {
    background: var(--bgColor);
    padding: 7%;
    border-radius: 5%;
    text-align: left;
    transition: transform 0.3s ease;
}

.grid-card:hover {
    transform: translateY(-5px) scale(1.05);
}

.grid-card:hover .grid-icon{
    color: var(--textColor);
}

.grid-icon {
    color: var(--boldColor);
    display: block;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all 0.1s ease;
}

.grid-card h4 {
    margin: 0 0 10px 0;
    color: var(--accentColor);
    font-size: 1.3rem;
}

.grid-card p {
    margin: 0;
    color: var(--textColor);
    line-height: 1.5;
    font-size: 0.95rem;
}



.button1 {
    background-color: var(--boldColor);
    border: var(--boldColor) solid 2px;
    color: var(--bgColor);
    padding: 2px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 7%;
    margin: 0px 20px 0px 0px;
    transition: all 0.2s ease-in-out;
}

.button1:hover {
    background-color: var(--boldAccentColor);
    scale: 1.05;
}