
:root{
    --background-color: #afffb3;
    background-color: var(--background-color);
    --transition-color: rgb(255, 255, 255);

    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-repeat: no-repeat
    pointer-events: none; /* Allows clicks to pass through the overlay to content beneath */
}

.tree-open {
    background-color: var(--transition-color);
    border-radius: 0%;
    transition: all 1.3s ease-in;
}

.tree-move {
    background-color: var(--transition-color);
    translate: 0px 100px;
    transition: all 1.3s ease-in;
}


.MainBodyChanged {
    background-color: rgb(9, 255, 9);
    transition: background-color 1.3s ease-in;
}