.tree-lottie {
    aspect-ratio: 2/ 1;
    transform: scale(1);
    background-color: turquoise;
    border-radius: 0%; /* Start square or slightly rounded */
}

.tree-zoom {
    background-color: rgb(230, 0, 0);
    border-radius: 100%;
    transition: background-color 2s ease-in-out, border-radius 1s ease;
}

.tree-move {
    transform: translateY(0px) scale(1);
    transition: all 2s ease-in;
}